@import "https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css";



.Agrodashboard
{
    flex:1;
    background-color: rgb(48, 48, 48);
    padding: 10px;
    padding-bottom: 0;
}
.Mapflex
{
    display:flex;
    padding:10px;
    object-fit: contain;
    align-items: center;
    background-color: rgb(40, 40, 45);
    flex-direction: column;
}
#map4
{
    flex: 0.85;
    width: 100%;
    height:50vh;
}
#map5
{
    flex: 0.85;
    width: 100%;
    height:50vh;
}
#map6
{
    flex: 0.85;
    width: 100%;
    height:50vh;
}
.labeltext
{
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.maptext
{
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 10;
}
.legend
{
    flex:0.15;
    height:10vh;
}
.Map
{
    display: flex;
    width: 100%;
    align-items: center;
}