@import "https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css";

.aqmapping
{
    flex:0.35;
    background-color: rgb(40, 40, 40);
    padding: 40px 20px;
    overflow-y: scroll;
    height:95vh;
}
.aqmapping::-webkit-scrollbar
{
    display:None;
}

.labeltext
    {
        color: aliceblue;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
    }
#map
{
    height:30vh;
}
.legend
{
    height:4vh;
}
.maptext
{
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 10;
}

#map1
{
    height:30vh;
    width:85%;
}

#map2
{
    height:30vh;
}

#map3
{
    height:30vh;
}


.Mapflex_with_hlegend
{
    display: flex;
    padding: 10px;
}
.Mapflex_with_tlegend
{
    display: flex;
    flex-direction: column;
    padding:10px;
    object-fit:contain;
}
.legendmap
{
    width:15%;
}