@import "https://js.arcgis.com/4.20/esri/themes/dark/main.css";


.CovidDashboard
{
    flex:0.6;
    background-color: rgb(48, 48, 48);
    padding: 40px 20px;
    padding-bottom: 0;
    height : 90vh;
}

.MapBox
{
    display: flex;
    height:10vh !important;
    width: 60vw !important;
    padding:10px;
}
.viewDiv
{
    display: flex;
    height:40vh !important;
    width: 60vw !important;
    padding:10px;
}
.labeltext
{
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.bodytext
{
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 10;
    object-fit: contain;
}