.Navbar
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbarright
{
    display: flex;
    align-items: center;
    padding:10px;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
}
.navbarleft
{
    display:flex;
    align-items:center;
}
.header_logo
{
    height:25px;
    width: 150px;
    object-fit: contain;
    margin-left: 0px;
}
.headerbutton
{
    display: flex;
    height:45px;
    align-items: center;
    padding-right: 45px;
    padding-left: 45px;
    object-fit: contain;
    background-color: rgb(20, 20, 20);
}
.headerbutton:hover
{
    background-color: rgb(60,60,60);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05) !important;
    border: 1px rgb(50,50,50);
    border-radius: 5px;
}
